<div class="content">
    <div class="container-fluid">
        <h2 class="mainhead">Settings</h2> 
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="profile">
                        <img src="../../../../assets/img/user-profile-avatar.jpg" alt="">
                    </div>
                    <h3>Usman Malik</h3>
                    <p>Islambad, Pakistan </p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <h2 class="mainhead">Details</h2>
                    <button class="btn btn-add">Add Sub-Admin</button> 
                    <div class="outercontent">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="">Your Email</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Your Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="">Current Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="col-lg-6">
                            <i class="fas fa-edit"></i>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
       
    </div>
</div>