<div class="content">
    <div class="container-fluid">
        <h2 class="mainhead">Add Category</h2>
        <i (click)="goBack()"class="fas fa-arrow-left">&nbsp;Go Back</i> 
        <div class="card">
        <div class="mainwall">
            <div class="alert alert-danger" *ngIf="showerror">
                <p>{{errormsg}}.</p>
            </div>
       <form action="">
        <div class="row">
            <div class="col-lg-6">
                <label for="">Category Name</label>
                <input type="text" name="name" id="" class="form-control" #name="ngModel" [(ngModel)]="model.name">
            </div>
            <div class="col-lg-6">
                <label for="">Category Image</label>
                <input type="file" name="" id="" class="form-control" (change)="uploadFile($event)">
            </div>
        </div>
      
        <div class="row">
            <div class="col-lg-6">
                
            </div>
            <div class="col-lg-6">
              <button class="btn btn-add" type="submit" (click)="addcategory()">Add Category</button>
            </div>
        </div>
       </form>
   
    </div>
</div>
    </div>
</div>