<div class="background">
    <div class="row">
        <div class="col-lg-12">
            <div class="imagedisplay">
                <img src="../../../assets/img/logo-dark.svg" alt="">
              
            </div>
            <hr>
            <ul class="displayul">
                <!-- <li class="displayli" routerLink="/dashboard/main" ><img src="../../../assets/img/dashboard-icon.svg" alt=""> Dashbaord</li> -->
                <!-- <li class="displayli" routerLink="/dashboard/delivery"><img src="../../../assets/img/delivery-icon.svg" alt=""> Delivery</li> -->
                <li class="displayli" routerLink="/dashboard/products"><img src="../../../assets/img/products-icon.svg" alt=""> Products</li>
                <!-- <li class="displayli" routerLink="/dashboard/categories"><img src="../../../assets/img/categories-icon.png" alt=""> Category</li>
                <li class="displayli" routerLink="/dashboard/subcategory"><img src="../../../assets/img/subcategories-icon.svg" alt="">Sub category</li>
                <li class="displayli" routerLink="/dashboard/users"><img src="../../../assets/img/users-icon.svg" alt=""> Users</li>
                <li class="displayli" routerLink="/dashboard/riders"><img src="../../../assets/img/riders-icon.svg" alt=""> Riders</li> 
                <li class="displayli" routerLink="/dashboard/settings"><img src="../../../assets/img/settings.svg" alt=""> Settings</li>-->
                <li class="displayli" routerLink="/"><img src="../../../assets/img/logout.svg" alt=""> Sign Out</li>
            </ul>
        
        </div>
    </div>
</div>