<div class="content">
    <div class="container-fluid">
        <h2 class="mainhead">Riders</h2> 
        <input type="text" placeholder="Search Riders" class="form-control">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover" style="background-color: #fff;">
                    <thead>
                      <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">I'd Card Number</th>
                        <th scope="col">License Images</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Usman</th>
                        <td>03326533289</td>
                        <td>usman.maliknu13@gmail.com</td>
                        <td>0336533289</td>
                        <td>G11 Markaz</td>
                        <td>04</td>
                        
                        <td><i class="fas fa-eye"></i>&nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;<i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <th>Usman</th>
                        <td>03326533289</td>
                        <td>usman.maliknu13@gmail.com</td>
                        <td>0336533289</td>
                        <td>G11 Markaz</td>
                        <td>04</td>
                        <td><i class="fas fa-eye"></i>&nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;<i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        
                        <th>Usman</th>
                        <td>03326533289</td>
                        <td>usman.maliknu13@gmail.com</td>
                        <td>0336533289</td>
                        <td>G11 Markaz</td>
                        <td>04</td>
                        <td><i class="fas fa-eye"></i>&nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;<i class="fas fa-trash"></i></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
