<div class="content">
    <div class="container-fluid">
        <h2 class="mainhead">Delivery</h2> 
        <input type="text" placeholder="Search Delivery" class="form-control">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover" style="background-color: #fff;">
                    <thead>
                      <tr>
                        <th scope="col">Order #</th>
                        <th scope="col">Status</th>
                        <th scope="col">Delivery Date</th>
                        <th scope="col">User Phone</th>
                        <th scope="col">Delivery Address</th>
                        <th scope="col">Rider Name</th>
                        <th scope="col">Rider ID</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td class="fa-edit"> <strong>Pending</strong></td>
                        <td>27/08/2020</td>
                        <td>0336533289</td>
                        <td>G11 Markaz</td>
                        <td>Shafiq</td>
                        <td>R123</td>
                        <td><i class="fas fa-eye"></i>&nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;<i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td class="fa-trash"> <strong>Cancelled</strong></td>
                        <td>27/08/2020</td>
                        <td>0336533289</td>
                        <td>G11 Markaz</td>
                        <td>Shafiq</td>
                        <td>R123</td>
                        <td><i class="fas fa-eye"></i>&nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;<i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        
                        <th scope="row">3</th>
                        <td class="fa-eye"> <strong>Delivered</strong></td>
                        <td>27/08/2020</td>
                        <td>0336533289</td>
                        <td>G11 Markaz</td>
                        <td>Shafiq</td>
                        <td>R123</td>
                        <td><i routerLink="/dashboard/delivery-details" class="fas fa-eye"></i>&nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;<i class="fas fa-trash"></i></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
